<div id="<%= dom_id session %>">
  <p>
    <strong>Book:</strong>
    <%= session.book_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= session.user_id %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= session.capacity %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= session.start_time %>
  </p>

  <p>
    <strong>Video link:</strong>
    <%= session.video_link %>
  </p>

</div>
