<div class="page-title-container">
  <h1>Bookclubs</h1>
  <p>Loved it? Loathed it? Join bookclubs to share your insights, challenge perspectives, and discover new interpretations.</p>
</div>

<table id="sessions-table">
  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td>
          <span class="session-book-name"><%= link_to session.book.title, book_path(session.book) %></span>
          <br>
          <span class="book-author"><%= session.book.author %></span>
        </td>
        <td class="session-countdown"><%= session_countdown(session.start_time) %></td>
        <td class="session-start-time">Starts <%= session.start_time.strftime("%a %d %b, %l:%M%p") %></td>
        <td class="session-capacity"><i class="fa-solid fa-users" style="padding-right: 8px;"></i><%= session_capacity_text(session) %></td>
        <td class="session-join">
          <button type="button" class="btn btn-success btn-xs btn-sign-up">Join</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
