<div class="session-container">
  <div class="row">
    <div class="col-md-4 py-md-3 agenda-panel-col">
      <div class="sessions-page-component-header"><%= @session.book.title %> Bookclub Agenda</div>
      <%= render partial: 'agenda_panel', locals: { session: @session, attendees: @attendees } %>
      <div class="submit-agenda-point">
        <%= render partial: 'agenda_form' %>
      </div>
    </div>
    <div class="col-md-8 py-md-3 zoom-col">
      <div class="zoom-container">
        <div data-controller="countdown"
            data-countdown-start-time-value="<%= @session.start_time.iso8601 %>"
            class="session-countdown">
          <i class="fa-regular fa-clock fa-xs" style="padding-right: 4px;"></i> <span data-countdown-target="time">00:00:00</span>
        </div>
        <%= render "chatrooms/chats" %>
  <%# <iframe src="https://badbook.whereby.com/demo-d08ac869-1607-4582-ac53-a6aea20204e9" allow="camera; microphone; fullscreen; speaker; display-capture; compute-pressure" style="height: 700px; width: 100%"></iframe> %>
      </div>
      <div class="attendees-container">
        <div class="sessions-page-component-header">Participants</div>
          <% @attendees.each do |attendee| %>
            <span class="counter-pill-light"><%= attendee.email %></span>
          <% end %>
      </div>
    </div>
  </div>
</div>
<br><br>
