<div class="session-container d-flex flex-column">
  <div class="row">
    <div class="col-md-4 py-md-3 agenda-panel-col">
      <div class="sessions-page-component-header">
        <%= @session.book.title %>: Bookclub Agenda
      </div>
      <%= render partial: 'agenda_panel', locals: { session: @session, attendees: @attendees } %>
      <div class="submit-agenda-point">
        <%= render partial: 'agenda_form' %>
      </div>
    </div>

    <div class="col-md-8 py-md-3 zoom-col overflow-hidden" data-controller="meeting-creation">
      <div class="sessions-page-component-header-white mb-3"
          data-controller="countdown"
          data-countdown-start-time-value="<%= @session.start_time.iso8601 %>">
        <i class="fa-regular fa-clock fa-sm" style="margin-left: 15px;"></i>
        <span data-countdown-target="time"></span>
        <% if current_user && current_user.attendees.find_by(session_id: @session.id)&.host? %>
          <button class="btn-rsvp" data-session-id="<%= @session.id %>" data-action="click->meeting-creation#startMeeting">Start Meeting</button>
        <% end %>
      </div>
      <div class="zoom-container d-flex flex-column">
        <div data-meeting-creation-target="response"></div>
        <div class="chatroom-target flex-grow-1 overflow-hidden" data-target="meeting-creation.chat">
          <% if  @session.room_url.nil? %>
          <%= render "chatrooms/chats", chatroom: @chatroom %>
          <% elsif @session.room_url.present? && @current_user_attendee.host == false %>
            <iframe src="<%= @session.room_url %>" allow="camera; microphone; fullscreen; speaker; display-capture; compute-pressure" style="height: 700px; width: 100%"></iframe>
          <% elsif @session.host_url.present? && @current_user_attendee.host? == true %>
            <iframe src="<%= @session.host_url %>" allow="camera; microphone; fullscreen; speaker; display-capture; compute-pressure" style="height: 700px; width: 100%"></iframe>
          <% end %>
        </div>
      </div>
  </div>
</div>
<br><br>
</div>
