<div id="<%= dom_id topic %>">
  <p>
    <strong>Session:</strong>
    <%= topic.session_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= topic.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= topic.user_id %>
  </p>

  <p>
    <strong>Votes:</strong>
    <%= topic.votes %>
  </p>

</div>
