<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-target="video"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

  <p class="sessions-page-component-info-white"><i class="fa-solid fa-comment" style="margin-right: 6px;"></i>Can't wait? Chat to other attendees before the bookclub starts.</p>

  <div class="messages" data-chatroom-subscription-target="messages">
  <% @chatroom.messages.each do |message| %>
    <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
      <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
        <%= render "messages/message", message: message %>
      </div>
    </div>
  <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message],
    html: {data: {action: "turbo:submit-end->chatroom-subscription#resetForm"}, class: "d-flex"} do |f|
  %>
  <div class="input-group custom-input-group">
    <%= f.input :content,
      label: false,
      placeholder: "Send a message",
      wrapper_html: {class: "flex-grow-1"},
      input_html: { class: "form-control submit-agenda-point-input" }
    %>
    </div>
    <div class="input-group-append">
    <%= f.submit "Submit", class: "btn submit-agenda-point-btn" %>
    </div>
  <% end %>
</div>
