<div class="homepage-bg">
  <div class="jumbotron text-center d-flex align-items-center justify-content-center vh-100">
    <div>
      <h1 class="display-1 mb-4">Your virtual book club for <br> good <span class="strike-through">and bad</span> books.</h1>
      <p class="lead">
        <%= link_to "EXPLORE BOOKS", books_path, class: "btn btn-primary btn-lg mt-4 me-2 btn-explore" %>
        <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-success btn-lg mt-4 ms-2 btn-sign-up" %>
      </p>
    </div>
  </div>
  <div>
    <h2 class="carousel-header">Bookclubs Now in Session</h2>
    <%= render 'books/carousel', books: @books %>
  </div>
  <br><br><br>
</div>

<div class="cta-box">
  <div class="container">
    <h1>Join the Discussion</h1>
    <p>Review and discuss your latest reads with a like-minded community</p>
    <%= link_to "LOGIN", new_user_session_path, class: "btn btn-primary btn-lg mt-4 me-2 btn-login" %>
    <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-success btn-lg mt-4 ms-2 btn-sign-up" %>
  </div>
</div>
