<div class="homepage-bg">
  <div class="jumbotron text-center d-flex align-items-center justify-content-center vh-100">
    <div>
      <h1 class="display-1 mb-4">Your virtual book club for <br> good <span class="strike-through">and bad</span> books.</h1>
      <p class="lead">
        <%= link_to "Explore Books", books_path, class: "btn btn-primary btn-lg mt-4 me-2 btn-explore" %>
        <% unless user_signed_in? %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg mt-4 ms-2 btn-sign-up" %>
        <% end %>
      </p>
    </div>
  </div>
  <div id="homePageBooksCarousel" class="carousel slide mx-auto" data-bs-ride="false">
    <h2 class="carousel-header">Bookclubs Now in Session</h2>
    <%= render 'books/carousel', books: @books %>
  <button class="carousel-control-prev" type="button" data-bs-target="#homePageBooksCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#homePageBooksCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
  </div>
  <br><br><br>
</div>

<% unless user_signed_in? %>
  <div class="cta-box">
    <div class="container">
      <h1>Join the Discussion</h1>
      <p>Review and discuss your latest reads with a like-minded community</p>
      <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg mt-4 me-2 btn-login" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg mt-4 ms-2 btn-sign-up" %>
    </div>
  </div>
<% end %>
