<h2 class="carousel-header">My Library</h2>

<p class="sessions-page-component-header" style="text-align: center;"><i class="fa-solid fa-calendar-days" style="padding-right: 8px;"></i> Calendar <span class="counter-pill-pink"><%= current_user.sessions.count %></span></p>
<table id="sessions-table">
  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td>
          <span class="session-book-name"><%= link_to session.book.title, book_path(session.book) %></span>
          <br>
          <span class="book-author"><%= session.book.author %></span>
        </td>
        <td class="session-countdown"><%= session_countdown(session.start_time) %></td>
        <td class="session-start-time">Starts <%= session.start_time.strftime("%a %d %b, %l:%M%p") %></td>
        <td class="session-capacity"><i class="fa-solid fa-users" style="padding-right: 8px;"></i><%= session_capacity_text(session) %></td>
        <td class="session-capacity">
          <%= render "books/revoke_rsvp", session: session, book: session.book %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<p class="sessions-page-component-header" style="text-align: center;"><i class="fa-solid fa-book" style="padding-right: 8px;"></i> Bookshelves <span class="counter-pill-pink"><%= current_user.bookshelves.count %></span></p>
<table id="sessions-table">
  <tbody>
    <% @bookshelves.each do |bookshelf| %>
      <tr>
        <td><span class="session-book-name"><%= bookshelf.name %></span></td>
        <td>
          <% bookshelf.books.each do |book| %>
            <%= link_to image_tag(book.image_url, style: "width: 50px; height: 75px; margin-right: 10px;", alt: book.title), book_path(book) if book.image_url.present? %>
          <% end %>
        </td>
        <td>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-bookshelf-id="<%= bookshelf.id %>">
            Delete
          </button>
        </tr>
    <% end %>
  </tbody>
</table>
