<h2 class="carousel-header">My Library</h2>

<p class="sessions-page-component-header" style="text-align: center;"><i class="fa-solid fa-calendar-days" style="padding-right: 8px;"></i> Calendar <span class="counter-pill-pink"><%= current_user.sessions.count %></span></p>
<table id="sessions-table">
  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td>
          <span class="session-book-name"><%= link_to session.book.title, book_path(session.book) %></span>
          <br>
          <span class="book-author"><%= session.book.author %></span>
        </td>
        <td class="session-countdown">
          <i class="fa-regular fa-clock" style="padding-right: 4px;"></i> <b><%= session_countdown(session.start_time) %></b>
          <br>
          <%= session.start_time.strftime("%a %d %b, %l:%M%p") %>
        </td>
        <td class="session-capacity"><i class="fa-regular fa-user" style="padding-right: 8px;"></i><%= session_capacity_text(session) %></td>
        <td class="session-action-button">
          <%= render "books/revoke_rsvp", session: session, book: session.book %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<p class="sessions-page-component-header" style="text-align: center;"><i class="fa-regular fa-bookmark" style="padding-right: 8px;"></i> Bookshelves</p>
<table id="sessions-table">
  <tbody>
    <% @bookshelves.each do |bookshelf| %>
      <tr id="<%= dom_id(bookshelf) %>">
        <td>
          <span class="bookshelf-name"><%= bookshelf.name %></span>
          <br>
          <span class="book-author"><%= bookshelf.books.count %> Books</span>
        </td>
        <td>
          <% bookshelf.books.each do |book| %>
            <%= link_to image_tag(book.image_url, class:"bookshelf-book-tile", alt: book.title), book_path(book) if book.image_url.present? %>
          <% end %>
        </td>
        <td class="session-action-button">
          <% unless bookshelf.name == 'Read Books' %>
            <%= link_to bookshelf_path(bookshelf),
                  method: :delete,
                  data: { turbo_confirm: 'Are you sure?' },
                  class: 'bookshelf-delete' do %>
              <i class="fa-regular fa-trash-can"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
