<div class="book-tile" style="width: 200px;">
  <% if book[:image_url].present? %>
    <%= image_tag book[:image_url], class: "img-fluid book-cover", alt: book[:title] %>
  <% else %>
    <p>No image available</p>
  <% end %>
  <% book_read = @read_books.include?(book) %>
  <button class="read-status-btn <%= 'read' if book_read %>" data-book-id="<%= book[:id]%>" data-toggle="tooltip" title="<%= book_read ? 'Mark as unread' : 'Mark as read' %>">
    <i class="fa <%= book_read ? 'fa-check' : 'fa-check' %>"></i>
  </button>
  <button class="add-btn" data-toggle="tooltip" title="Add to Bookshelf">
    <i class="fa fa-plus"></i>
  </button>
  <div class="book-info">

    <div class="book-title"><%= book[:title] %></div>
    <div class="book-author"><%= book[:author] %></div>

  </div>
</div>
