<div class="sessions-panel">
  <p class="sessions-panel-header"><%= @book.title %> Bookclubs</p>
  <table id="books-sessions-table">
  <tbody>
    <% if @upcoming_sessions.any? %>
    <% @upcoming_sessions.each do |session| %>
      <tr data-controller = "rsvp">
        <td class="book-session-start-time">
          <span class="session-date"><%= session.start_time.strftime("%a %d %b") %></span>
          <br>
          <span class="session-time"><%= session.start_time.strftime("%l:%M%p") %></span>
        </td>
        <td class="session-capacity" data-rsvp-target="capacity" data-capacity=<%= session_capacity_text(session)%>><i class="fa-solid fa-users" style="padding-right: 8px;"></i><%= session_capacity_text(session) %></td>
        <td class="session-action">
          <% if session.attendees.exists?(user_id: current_user.id) %>
            <%= render "books/revoke_rsvp", session: session, book: @book %>
          <% elsif session.attendees.count >= session.capacity %>
            <span class="session-full">Full</span>
          <% elsif session.start_time <= (Time.now + 15.minutes) %>
            <%= render "books/join_session", session: session, book: @book %>
          <% else %>
            <%= render "books/rsvp", session: session, book: @book %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <% else %>
    <p>No upcoming sessions.</p>
  <% end %>
</table>
</div>
