<h2 class="carousel-header">Upcoming Bookclubs</h2>
<%= render 'carousel', books: @bookclub_collection %>

<h2 class="carousel-header">Popular in Fiction This Week</h2>
<%= render 'carousel', books: @bookclub_collection %>

<h2 class="carousel-header">Most Read in Crime</h2>
<%= render 'carousel', books: @bookclub_collection %>

<h2 class="carousel-header">Bestsellers</h2>
<%= render 'carousel', books: @bookclub_collection %>

<%# <h2 class="carousel-header">Best in Horror</h2>
<%= render 'carousel', books: @horror_collection %>

<br><br><br>
