<div class="book-show-page-container">
  <div class="book-show-content-container">
    <div class="book-show-book-cover">
      <%= image_tag(@book.image_url, alt: @book.title, class: "img-fluid") %>
    </div>

    <div class="book-show-book-info">
      <h1 class="book-show-book-title"><%= @book.title %></h1>

      <p class="book-show-book-author"><strong>Author:</strong> <%= @book.author %><br></p>
      <div class="book-genre-tag"><%= @book.genre %></div>
      <div class="book-description">
        <% if @description_longer_than_250 %>
          <p id="description-preview"><%= @preview_description %>...<a href="#" class="read-more">More</a></p>
          <p id="full-description" style="display: none;"><%= @full_description %></p>
        <% else %>
          <p><%= @full_description %></p>
        <% end %>
      </div>
    </div>
    <%= render "books/sessions_panel"  %>
  </div>
</div>

<div class="reviews-section">
  <div class ="reviews-section-content">
    <div class="reviews-header">
      <h2>Reviews</h2>
      <%= render 'reviews/addReviewModal' %>
    </div>
    <br>
    <ul class="review-list">
      <% @book.reviews.each do |review| %>
        <li class="review-item">
          <div class="rating-section">
            <div class="rating-stars">
              <% review.rating.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            </div>
          </div>
          <div class="review-description">
            <%= review.description %>
          </div>
          <div class="review-footer">
            <div class="user-email">
              <i class="fa-regular fa-user" style="padding-right: 8px;"></i> <%= review.user.email %>
            </div>
            <div class="actions">
              <% if current_user && current_user.id == review.user_id %>
                <%= link_to "Edit", edit_review_path(review.id), class: "edit-review-link"%>
                |
                <%= link_to "Delete", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    <br>
  </div>
</div>
