<div class="book-show-page-container">
  <div class="book-show-content-container">
    <div class="book-show-book-cover">
      <%= image_tag(@book.image_url, alt: @book.title, class: "img-fluid") %>
    </div>

    <div class="book-show-book-info">
      <div class="title-and-buttons"><h1 class="book-show-book-title"><%= @book.title %></h1><%= render 'books/book_show_buttons', book: @book %></div>

      <p class="book-show-book-author"><strong>Author:</strong> <%= @book.author %><br></p>

      <div data-controller="book-description" class="book-description">

        <% if @description_longer_than_250 %>
          <p id="description-preview" data-book-description-target="preview"><%= @preview_description %>...<a href="#" class="read-more" data-book-description-target="link" data-action="click->book-description#toggleDescription">More</a></p>
          <p id="full-description" data-book-description-target="full" style="display: none;"><%= @full_description %> <a href="#" class="read-more" data-book-description-target="link" data-action="click->book-description#toggleDescription">Show Less</a></p>
        <% else %>
          <p><%= @full_description %></p>
        <% end %>
      </div>
    </div>
    <%= render "books/sessions_panel"  %>
  </div>
</div>

<div class="reviews-section">
  <div class="reviews-section-content">
    <!-- Use d-flex to make this a flex container and align-items-center to align vertically -->
    <div class="reviews-header d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center"> <!-- This will align the title and stars horizontally -->
        <p class="mb-0">Reviews</p> <!-- mb-0 removes the bottom margin from the paragraph -->
        <div class="average-rating d-flex align-items-center ms-2"> <!-- ms-2 adds some left margin -->
          <% average = @book.average_rating %>
          <% full_stars = average.floor %>
          <% half_star = average % 0.5 >= 0.25 %>
          <% empty_stars = 5 - full_stars - (half_star ? 1 : 0) %>

          <% full_stars.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% if half_star %>
            <i class="fas fa-star-half-alt"></i>
          <% end %>
          <% empty_stars.times do %>
            <i class="far fa-star"></i> <!-- Assuming you're using regular style for empty stars -->
          <% end %>
          <span>(<%= average %>)</span>
        </div>
      </div>
      <%= render 'reviews/addReviewModal' %> <!-- This will be aligned to the right -->
    </div>
    <br>
    <ul class="review-list">
      <% @book.reviews.each do |review| %>
        <li class="review-item">
          <div class="rating-section">
            <div class="rating-stars">
              <% review.rating.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            </div>
          </div>
          <div class="review-description">
            <%= review.description %>
          </div>
          <div class="review-footer">
            <div class="user-email">
              <i class="fa-regular fa-user" style="padding-right: 8px;"></i> <%= review.user.email %>
            </div>
            <div class="actions">
              <% if current_user && current_user.id == review.user_id %>
                <%= link_to "Edit", edit_review_path(review.id), class: "edit-review-link"%>
                |
                <%= link_to "Delete", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    <br>
  </div>
</div>
