<div class="centered-form">
  <%= simple_form_for([@book, @review]) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="rating-input">
      <%= f.label :rating, "Rating" %>
      <div class="rating-dropdown">
        <%= f.select :rating, options_for_select((1..5).map { |num| [raw("#{num} #{'&#9733;' * num}"), num] }), {}, { class: 'form-control' } %>
      </div>
    </div>
    </br>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= link_to "Cancel", book_path(@book), class: "cancel-button" %>
    <%= f.button :submit, "Create Review", class: "bold-button" %>
  </div>
  <% end %>
</div>
